
/* Reset */
* {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
  	box-sizing: border-box;
}

/* Menu */

ul{
  list-style: none;
  padding: 0;
  margin:0;
  background: #2e2e2a;
  line-height: 40px;
  overflow: auto;
  float: right;
}
li{
  width: 100px;
  text-align: center;
  float: left;
}
a{
  text-decoration: none;
  display: block;
  color: #fff;
}
ul a:hover{
  background: #f9a91a;
  color: #000;
}


a {
    color: white;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.container {
  margin: 0 auto;
  width: 100%;
}


.row .menu-md{
      background-color: #343a40;
      height: 90px;
}


/* Header */
img.outfit-img {
  width: 350px;
  height: 400px;
}
.header {
    min-height: 300px;
    background: url('../assets/images/slide4.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
img {
    width: 100%;
    height: auto;
}

/* Footer */
.box-footer{
	box-sizing: border-box;
	width: 377px;
	float: left;

	height: 168px;
	margin-bottom: 52px;
}
.list-footer {
	padding-left: 0;
	list-style: none;
}
.foot {
	color: white;
	border: 1px solid;
	padding: 10px;
  background-color: #343a40;  
}
.text-center{
  text-align: center;
}
.list-social {
	display: inline-block;
}
.btn-footer {
	font-size: 20px;
	line-height: 45px;
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 100%;
}

.box-footer {
	box-sizing: border-box;
	display: inline-block;
	height:  165px;
	width: 373px;
}


/* Grid system */

.row::after {
  content: "";
  display: table;
  clear: both;
}
[class*='col-'] {
  float: left;
  padding: 15px;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-12 {
  margin-left: 100%;
}


@media (min-width: 768px) {
	
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  
  .col-sm-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 992px) {
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  
  .col-md-offset-3 {
    margin-left: 25%;
  }
  
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  
  .col-md-offset-6 {
    margin-left: 50%;
  }
  
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  
  .col-md-offset-9 {
    margin-left: 75%;
  }
  
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  
  .col-md-offset-12 {
    margin-left: 100%;
  }
}
/* Helpers */
.text-center {
  text-align: center;
}
.view-mobile {
  display: block;
}
.view-desktop {
  display: none;
}
@media (min-width: 768px) {
  .view-mobile {
    display: none;
  }
  
  .view-desktop {
    display: block;
  }
}



